$dark_blue: #14213d;
$yellow: #fbbd08;
$green: #21ba45;
$blue: #004e98;
$red: #db2828;

$container-width: 1280; // px

// const-column
$const-column-outer: $container-width / 12; // 1280 / 12 = 106.666666667
$const-column-inner: ($const-column-outer - ($const-column-outer / 12)); // 106.6667 - 21.33334 = 85.3334
$column: ($const-column-inner / $container-width) * 100%; // ( 85.3334 / 0.066666719 ) * 100% = 

// const-gap
$const-space: $const-column-outer / 12; // 80 / 5 = 16 / 1280 = 0.0125
$space: ($const-space / $container-width) * 100%; //  0.0125 * 100% = 1.25%
$gap: $space / 2;

@function col($n) {
  @return (
    (($n * $const-column-inner) + (($n * $const-space) - ($const-space * 2))) /
    $container-width
  ) * 100%;
}

@function span($n) {
  @return (
    (($n * $const-column-inner) + (($n * $const-space) - ($const-space * 2))) /
    $container-width
  ) * 100%;
}

@function lineHeight($size) {
  @return ($size * 1.618);
}

@mixin font($size, $weight:"normal") {
  font-size: $size;
  font-weight: $weight;
  line-height: 1.618; //lineHeight($size);
}
