@import "variable";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

body {
  font: normal 12pt 'Merriweather', serif;
  line-height: 1.8rem;
  background: rgb(204,204,204);
}

img,
embed,
object,
video {
  max-width: 100%;
}

.box {
  padding: $gap;
}
.text {
  text-align: justify;
  text-indent: 1.8rem;

  // testing
  padding: 70px;
  height: 800px;
  background: #fff;
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 3px 5px 0.5cm rgba(0,0,0,0.5);
}
