@import "variable";
@import "reset";

// @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  font-family:'Roboto Slab', serif;
  @include font(1.2rem, 300);
  //line-height: 1.8rem;
  //background: rgb(204,204,204);
}

img,
embed,
object,
video {
  max-width: 100%;
}

.box {
  padding: $gap;
}
.text {
  text-align: justify;
  text-indent: 1.8rem;

  // testing
  //  padding: 70px;
  //  height: 800px;
  //  background: #fff;
  //  background: white;
  //  display: block;
  //  margin: 0 auto;
  //  margin-bottom: 0.5cm;
  //  box-shadow: 3px 5px 0.5cm rgba(0,0,0,0.5);
}
